{% extends 'layout.twig' %}

{% block title 'Projects' %}

{% block content %}
    <h1>Sismo - all projects</h1>
    {% if not projects %}
        <p>No project yet.</p>
    {% else %}
        <ul id="projects" class="cf">
        {% for i, project in projects %}
            <li class="{{ project.statuscode }}">
                <div class="icon"><i class="fa fa-{{ project.type }}" aria-hidden="true"></i></div>
                {% if 'success' == project.statuscode %}
                    {% set icon = 'check' %}
                {% else %}
                    {% set icon = 'times' %}
                {% endif %}
                <a href="{{ path('project', { 'slug': project.slug }) }}">
                    {{ project.shortname }}{% if project.subname %}<br /><small>{{ project.subname }}</small>{% endif %}
                    <i class="fa fa-{{icon}}" aria-hidden="true"></i>
                </a>
           </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
